@page
@model PizzaLaMejor.App.Presentacion.Pages.ConsultaModel
@{
}


<h2 class="text-warning">Lista Clientes</h2>

    <style>
        body {
            background-color: rgb(235, 237, 239);
        }
    </style>



<table class="table">
    <tr>
        
        <td>Cedula</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>CorreoElectronico</td>
        <td>Telefono</td>
        <td>Direccion</td>
        
        

    </tr>
    
        @foreach(var x in Model.ListaCliente){
        <tr>    
            
            <td>@x.Cedula</td>
            <td>@x.Nombres</td>
            <td>@x.Apellidos</td>
            <td>@x.CorreoElectronico</td>
            <td>@x.Telefono</td>
            <td>@x.Direccion</td>
           
            <td>
                <a asp-page="/Clientes/Edicion" class="btn btn-secondary" asp-route-clienteId=@x.Id>Editar</a>
            </td>
            <td>
                <a asp-page="/Clientes/Consulta" class="btn btn-dark" asp-route-clienteId=@x.Id>Eliminar</a>
            </td>
        </tr>    
        }
    
</table>
        <br> 
        <div class="input-group mb-3">
            
            <a class="btn btn-warning" asp-page="/Clientes/Registro" style="display: block; margin: 0 auto;">Registrar Nuevo Cliente</a>
                        
            <a class="btn btn-warning" asp-page="/Clientes/Edicion2" style="display: block; margin: 0 auto;">Buscar Cliente</a>
        </div>




        
